<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel='icon' href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class='main-content'>
      {{>header}} 
      <p>This site was created by Jim Keith at Baseline Consulting Inc. It uses data from mapbox.com and darksky.net.</p>
      <img class='portrait' src="/img/Jim Keith.jpg">
  </div>

  {{>footer}}
</body>

</html>